[submodule "Carthage/Checkouts/Alamofire"]
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/CUV"]
	url = https://github.com/reactive-swift/CUV.git
[submodule "Carthage/Checkouts/Result"]
	url = https://github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/Boilerplate"]
	url = https://github.com/crossroadlabs/Boilerplate.git
[submodule "Carthage/Checkouts/Foundation3"]
	url = https://github.com/crossroadlabs/Foundation3.git
[submodule "Carthage/Checkouts/UV"]
	url = https://github.com/reactive-swift/UV.git
[submodule "Carthage/Checkouts/RunLoop"]
	url = https://github.com/reactive-swift/RunLoop.git
[submodule "Carthage/Checkouts/ExecutionContext"]
	url = https://github.com/reactive-swift/ExecutionContext.git
[submodule "Carthage/Checkouts/Event"]
	url = https://github.com/reactive-swift/Event.git
[submodule "Carthage/Checkouts/Future"]
	url = https://github.com/reactive-swift/Future.git
